<app-sidevar></app-sidevar>
<nav style="background-color: #7A81DC;">
    <div class="nav-wrapper" style="margin-left: 23%;">
        <a (click)="direcionamiento('categorias')" class="brand-logo"> Categorias</a>
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a (click)="agregar()">Agregar Nueva Categoría</a></li>
        </ul> -->
    </div>
</nav>
<br>
<div class="container" style="margin-left: 25%;"> 

    <!-- Card de los Servicios disponibles -->
    <div class="row">
        <div class="col s12 m5 l4" *ngFor="let item of categoriesArray" style="height: 100%;">
            <div class="card sticky-action hoverable">
                <div class="card-image waves-effect waves-block waves-light black">
                    <img class="activator" width="" height="180px" src="{{ item.imageURL }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{item.title}}<i
              class="material-icons right">more_vert</i></span>
                    <p><span class=" activator grey-text text-darken-1"></span></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><b>{{item.title}}</b><i
              class="material-icons right">close</i></span>
                    <br>
                    <p>{{item.description}}</p>
                </div>
                <div class="card-action center-align " style="background-color: #ff316e;">
                    <a class="waves-effect btn-flat btn-small white-text " (click)="editar(item)"><i class="material-icons white-text left">create</i>Editar</a>
                    <a class="waves-effect btn-flat btn-small white-text" (click)="eliminar(item)"><i class="material-icons white-text left">delete</i>Eliminar</a>
                </div>
            </div>

        </div>
    </div>
    <div class="divider"></div>
    <br>
    <div>
        <a class="right btn-floating btn-large waves-effect waves-light green" (click)="agregar()"><i class="material-icons">add</i></a>
    </div>
</div>