<app-sidevar></app-sidevar>
<nav style="background-color: #7A81DC;">
    <div class="nav-wrapper" style="margin-left: 23%;">
        <a (click)="direcionamiento('index')" class="brand-logo"> Página principal</a>

    </div>
</nav>
<br>
<div class="container" style="margin-left: 25%;">
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <select [(ngModel)]="graficaseleccionada" >
                  <optgroup label="Barras Verticales">
                    <option value="1" selected>Categoria Por Servicios Creados</option>
                    <option value="2">Meses Por Servicios Creados </option>
                  </optgroup>
                  <optgroup label="Barras Horizontales">
                    <option value="3">Categoria Por Servicios Creados</option>
                    <option value="4">Meses Por Servicios Creados</option>
                  </optgroup>
                </select>
                <label>Optgroups</label>
              </div>
        </div>
        <div class="col s12" *ngIf="mostrarGrafica('1')">
            <ngx-charts-bar-vertical id="1"  [view]=" view " [scheme]="colorScheme" [results]="labelStringDataFirschar " [gradient]="gradient " [xAxis]="showXAxis " [yAxis]="showYAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel " [showYAxisLabel]="showYAxisLabel
            " [xAxisLabel]="xAxisLabel " [yAxisLabel]="yAxisLabel ">
            </ngx-charts-bar-vertical>
        </div>
        <div class="col s12" *ngIf="mostrarGrafica('2')">
            <ngx-charts-bar-vertical id="2"  [view]="view" [scheme]="colorScheme" [results]="labelStringDataFirschar2" [gradient]="gradient" [xAxis]="showXAxisSer" [yAxis]="showYAxisSer" [legend]="showLegendSer" [showXAxisLabel]="showXAxisLabelSer" [showYAxisLabel]="showYAxisLabelSer"
                [xAxisLabel]="xAxisLabelSer" [yAxisLabel]="yAxisLabelSer">
            </ngx-charts-bar-vertical>

        </div>
        <div class="col s12" *ngIf="mostrarGrafica('3')">
            <ngx-charts-bar-horizontal  [view]=" view " [scheme]="colorScheme" [results]="labelStringDataFirschar " [gradient]="gradient " [xAxis]="showXAxis " [yAxis]="showYAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel " [showYAxisLabel]="showYAxisLabel
            " [xAxisLabel]="xAxisLabel " [yAxisLabel]="yAxisLabel ">
            </ngx-charts-bar-horizontal>
        </div>
        <div class="col s12" *ngIf="mostrarGrafica('4')">
            <ngx-charts-bar-horizontal  [view]="view" [scheme]="colorScheme" [results]="labelStringDataFirschar2" [gradient]="gradient" [xAxis]="showXAxisSer" [yAxis]="showYAxisSer" [legend]="showLegendSer" [showXAxisLabel]="showXAxisLabelSer" [showYAxisLabel]="showYAxisLabelSer"
                [xAxisLabel]="xAxisLabelSer" [yAxisLabel]="yAxisLabelSer">
            </ngx-charts-bar-horizontal>

        </div>
    </div>


</div>