<app-sidevar></app-sidevar>
<div class="container" style="margin-left: 25%;">
    <div class="row">
        <div class="col  ">
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="labelStringDataFirschar" [gradient]="gradientpie" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut">
            </ngx-charts-pie-chart>
            <ngx-charts-bar-vertical [view]=" view " [results]="labelStringDataFirschar " [gradient]="gradient " [xAxis]="showXAxis " [yAxis]="showYAxis " [legend]="showLegend " [showXAxisLabel]="showXAxisLabel " [showYAxisLabel]="showYAxisLabel
                " [xAxisLabel]="xAxisLabel " [yAxisLabel]="yAxisLabel ">
            </ngx-charts-bar-vertical>

        </div>
    </div>
</div>