<!-- LEFT SIDEBAR	 -->
<ul id="sidenav-1" class="sidenav sidenav-fixed blue accent-3">
    <li><a class="waves-effect waves-purple grey-text text-lighten-5" target="_blank" (click)="direcionamiento('index')">Index</a></li>
    <li><a class="waves-effect waves-purple grey-text text-lighten-5" target="_blank" (click)="direcionamiento('categorias')">Categorias</a></li>
    <li><a class="waves-effect waves-purple grey-text text-lighten-5" target="_blank" (click)="direcionamiento('servicios')">Servicios</a></li>
</ul>