<app-sidevar></app-sidevar>
<br>

    <!-- Formulario para eliminar un categoria -->
    <div class="row">

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4><b>Eliminar Categoria</b></h4>
                <p>
                    Al elminar la categoría, no podrá revertir esta acción más adelante.
                    ¿Está seguro que desea eliminar esta categoría?
                </p>
            </div>
            <div class="modal-footer">
                <a (click)="direcionamiento('categorias')" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <a (click)="direcionamiento('categorias')" class="modal-close waves-effect waves-green btn-flat">De acuerdo</a>
            </div>
        </div>
    </div>